@model GiftsManager.ViewModels.Authentication.SignInViewModel

<ul class="nav navbar-nav">
    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
    <li class="hidden">
        <a href="#page-top"></a>
    </li>

    @if (Model.Authenticated)
    {
        <li>
            @Html.ActionLink(@Resources.Global.Hi + " " + Model.User.FirstName, "UserProfile", "Profile", null, new { @class = "page-scroll" })
        </li>
        <li>
            @Html.ActionLink(@Resources.Global.SignOut, "SignOut", "Authentication", null, new { @class = "page-scroll" })
        </li>
    }
    else
    {
        <li>
            @Html.ActionLink(@Resources.Global.SignUp, "SignUp", "Authentication", null, new { @class = "page-scroll" })
        </li>
        <li>
            @Html.ActionLink(@Resources.Global.SignIn, "SignIn", "Authentication", null, new { @class = "page-scroll" })
        </li>
    }
</ul>

