@model GiftsManager.ViewModels.Shared.GroupDropDownViewModel

@{
    ViewBag.Title = @Resources.Global.HomePage;
}

@section scripts
{
    <script type="text/javascript" src="~/Assets/Scripts/Common/jquery.akordeon.js"></script>
    <script type="text/javascript" src="~/Assets/Scripts/Pages/utils.js"></script>
    <script type="text/javascript" src="~/Assets/Scripts/Pages/constants.js"></script>
    <script type="text/javascript" src="~/Assets/Scripts/Pages/popup.js"></script>
    <script type="text/javascript" src="~/Assets/Scripts/Pages/Home/ajaxCalls.js"></script>
}

@if (Model.User != null)
{
    <h2 class="h2Title">@Model.User.FirstName</h2>

    <div id="DropDownGroupDiv">
        @Html.Partial("_DropDownGroup", Model)
    </div>

    <div id="GroupUsersDiv"></div>
    <div id="DropDownEventDiv"></div>
    <div id="GiftsDiv"></div>
}
else
{
    <h2 class="h2Title">
        @Resources.Global.Welcome <br/><br />
        @Resources.Global.PleaseSignIn
    </h2>
}

<script type="text/javascript">

    tradKeys = {};

    tradKeys.enterCost = "@Resources.Global.EnterCost";
    tradKeys.bought = "@Resources.Global.Bought";
    tradKeys.giftBought = "@Resources.Global.GiftBought";
    tradKeys.select = "@Resources.Global.Select";
    tradKeys.takeIt = "@Resources.Global.TakeIt";
    tradKeys.reserveIt = "@Resources.Global.ReserveIt";
    tradKeys.buyIt = "@Resources.Global.BuyIt";
    tradKeys.reserved = "@Resources.Global.Reserved";
    tradKeys.giftReserved = "@Resources.Global.GiftReserved";
    tradKeys.priceError = "@Resources.Global.PriceError";

</script>