@model GiftsManager.Models.User

@{
    ViewBag.Title = @Resources.Global.SignUp;
}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        @using (Html.BeginForm("SignUp", "Authentication", FormMethod.Post, new { role = "login", @class="authentication-form" }))
        {
            <div class="form">
                <div class="header"><h2>@Resources.Global.SignUp</h2></div>
                <div class="login">
                    <form action="">
                        <ul class="authentication-ul">
                            <li>
                                <span class="un"><i class="fa fa-user"></i></span>@Html.TextBoxFor(m => m.FirstName, new { placeholder = @Resources.Global.FirstName, @class = "text", @required  = "required" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </li>
                            <li>
                                <span class="un"><i class="fa fa-user"></i></span>@Html.TextBoxFor(m => m.LastName, new { placeholder = @Resources.Global.LastName, @class = "text", @required  = "required" })
                            </li>
                            <li>
                                <span class="un"><i class="fa fa-user"></i></span>@Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "text", @required  = "required" })
                            </li>
                            <li>
                                <span class="un"><i class="fa fa-lock"></i></span>@Html.PasswordFor(m => m.Password, new { placeholder = @Resources.Global.Password, @class = "text", @required  = "required" })
                            </li>
                            <li>
                                <span class="un"><i class="fa fa-lock"></i></span>@Html.PasswordFor(m => m.Password, new { placeholder = @Resources.Global.ConfirmYourPassword, @class = "text", @required  = "required" })
                            </li>
                            <li>
                                <input type="submit" value="@Resources.Global.SignUp" class="authentication-btn">
                            </li>
                        </ul>
                    </form>
                </div><br />
            </div>
        }
    </div>
</div>

