@model GiftsManager.ViewModels.Authentication.SignInViewModel

@{
    ViewBag.Title = @Resources.Global.SignIn;
}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        @using (Html.BeginForm("SignIn", "Authentication", FormMethod.Post, new { role = "login", @class="authentication-form" } ))
        {
            <div class="form">
                <div class="header"><h2>@Resources.Global.SignIn</h2></div>
                <div class="login">
                    <form action="">
                        <ul class="authentication-ul">
                            <li>
                                <span class="un"><i class="fa fa-user"></i></span>@Html.TextBoxFor(m => m.User.Email, new { placeholder = "Email", @class = "text", @required  = "required" })
                            </li>
                            <li>
                                <span class="un"><i class="fa fa-lock"></i></span>@Html.PasswordFor(m => m.User.Password, new { placeholder = @Resources.Global.Password, @class = "text", @required  = "required" })
                            </li>
                            <li>
                                <input type="submit" value="@Resources.Global.SignIn" class="authentication-btn">
                            </li>
                        </ul>
                    </form>
                </div><br />
                <div class="sign">
                    <div class="need">@Resources.Global.NeedNewAccount</div>
                    @Html.ActionLink(@Resources.Global.SignUp, "SignUp", "Authentication", null, new { @class = "up" })
                </div>
            </div>
        }

        <br />
    </div>
</div>

